[submodule "plugins/harfbuzz/harfbuzz"]
	path = plugins/harfbuzz/harfbuzz
	url = https://github.com/gideros/harfbuzz.git
[submodule "plugins/reactphysics3d/reactphysics3d"]
	path = plugins/reactphysics3d/reactphysics3d
	url = https://github.com/gideros/reactphysics3d.git
[submodule "luau"]
	path = luau
	url = https://github.com/gideros/luau.git
[submodule "scintilla"]
	path = scintilla
	url = https://github.com/gideros/scintilla.git
[submodule "lexilla"]
	path = lexilla
	url = https://github.com/gideros/lexilla.git
