*.txt  text
*.c  text
*.h  text
*.cpp  text
*.hpp  text
*.lua  text
*.pro  text
*.java  text
*.html  text
*.js  text
*.css  text
*.hlsl  text
*.glsl  text
*.vcproj eol=crlf
*.bat  eol=crlf
*.sln  eol=crlf
*.vcxitems eol=crlf
*.vcxitems.filters eol=crlf
*.sh  eol=lf
*.pbxproj eol=lf