#include <windows.h>
#include "resource.h"

ID_ALERTDIALOG DIALOG DISCARDABLE 0,0,190,60
CAPTION "AlertDialog"
BEGIN
  LTEXT "message",ID_MESSAGE,    10,10, 170,10
  DEFPUSHBUTTON "B&1",ID_BUTTON1,10,35,  50,14
  PUSHBUTTON "B&2",ID_BUTTON2,   70,35,  50,14
  PUSHBUTTON "B&3",ID_BUTTON3,  130,35,  50,14
END

ID_TEXTINPUTDIALOG DIALOG DISCARDABLE 0,0,190,90
CAPTION "TextInputDialog"
BEGIN
  LTEXT "message",TID_MESSAGE,    10,10, 170,10
  EDITTEXT TID_EDIT,              10,35, 170,10
  DEFPUSHBUTTON "B&1",TID_BUTTON1,10,60,  50,14
  PUSHBUTTON "B&2",TID_BUTTON2,   70,60,  50,14
  PUSHBUTTON "B&3",TID_BUTTON3,  130,60,  50,14
END
