#include <windows.h>
#include "resource.h"

ID_ALERTDIALOG DIALOG DISCARDABLE 0,0,220,100
CAPTION "AlertDialog"
BEGIN
  LTEXT "message",ID_MESSAGE,    10,10, 100,10
  DEFPUSHBUTTON "&B1",ID_BUTTON1,10,50,  50,14
  PUSHBUTTON "&B2",ID_BUTTON2,   70,50,  50,14
  PUSHBUTTON "&B3",ID_BUTTON3,  130,50,  50,14
END

ID_TEXTINPUTDIALOG DIALOG DISCARDABLE 0,0,220,100
CAPTION "TextInputDialog"
BEGIN
  LTEXT "message",ID_MESSAGE,    10,10, 100,10
  EDITTEXT ID_EDIT,              10,50, 100,10
  DEFPUSHBUTTON "&B1",ID_BUTTON1,10,70,  50,14
  PUSHBUTTON "&B2",ID_BUTTON2,   70,70,  50,14
  PUSHBUTTON "&B3",ID_BUTTON3,  130,70,  50,14
END

