body{color:#222;font-family:'Open Sans',Arial,sans-serif}body a{color:#2db2ea}h1,h2,h3,h4,h5,h6{color:#2f353e;font-weight:300}h1{font-weight:bold}ul.space li{padding: 5px 0;}.centered{text-align:center}.decorative-shadow{-webkit-box-shadow:0 0 0 4px rgba(0,0,0,0.2);-moz-box-shadow:0 0 0 4px rgba(0,0,0,0.2);box-shadow:0 0 0 4px rgba(0,0,0,0.2)}.teaser{height:200px;margin-top:-10px;background:url(../assets/slide-01.jpg.html);-webkit-background-size:cover;-moz-background-size:cover;background-size:cover}.teaser h1{margin-top:110px;color:#fff;text-shadow:0 0 5px #000}.middle-bar{width:auto;min-width:100%;height:auto;margin-bottom:25px;padding-top:10px;padding-bottom:10px;text-align:center;border-top:1px solid black;border-bottom:1px solid black;background:#222}.middle-bar h2{color:#fff}.middle-bar .btn{margin-left:15px}article h2 a{color:#000}article h2 a:hover{color:#2db2ea;text-decoration:none}article h2 a:hover:hover:after{float:right;font-family:"FontAwesome";content:"\f064"}.navbar-wrapper{position:absolute;top:0;left:0;right:0;z-index:10;margin-bottom:-90px}.navbar .navbar-inner{background-color:#000;background-image:none;border:0;-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;-webkit-box-shadow:0 0 0 4px rgba(0,0,0,0.2);-moz-box-shadow:0 0 0 4px rgba(0,0,0,0.2);box-shadow:0 0 0 4px rgba(0,0,0,0.2)}.navbar .brand{padding:14px 20px 16px;font-size:16px;font-weight:bold;text-shadow:0}.navbar .nav>li>a{padding:15px 20px}.navbar .btn-navbar{margin-top:7px}.navbar .nav li.dropdown.open>.dropdown-toggle,.navbar .nav li.dropdown.active>.dropdown-toggle,.navbar .nav li.dropdown.open.active>.dropdown-toggle{background-color:#2db2ea;color:#fff}.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus{color:#fff;background-color:#2db2ea;box-shadow:none}.navbar .nav li.dropdown>.dropdown-toggle .caret,.navbar .nav li.dropdown.open>.dropdown-toggle .caret,.navbar .nav li.dropdown.active>.dropdown-toggle .caret,.navbar .nav li.dropdown.open.active>.dropdown-toggle .caret{border-top-color:#fff}.navbar .nav>li>.dropdown-menu::before,.navbar .nav>li>.dropdown-menu::after{display:none}.carousel{margin-bottom:0}.carousel .item{height:500px}.carousel .item>img{position:absolute;top:0;left:0;min-width:100%;height:500px}.carousel .item .container{position:relative;text-align:center;z-index:9}.carousel-caption{background-color:transparent;position:static;max-width:1100px;padding:0 20px;margin-top:150px;margin-left:auto;margin-right:auto}.carousel-caption h1{font-size:60px;font-weight:800}.carousel-caption h1,.carousel-caption .lead{margin:0;margin-bottom:30px;line-height:1.25;color:#fff;text-shadow:0 0 5px #000}.carousel-caption .btn{-webkit-box-shadow:0 0 0 4px rgba(0,0,0,0.2);-moz-box-shadow:0 0 0 4px rgba(0,0,0,0.2);box-shadow:0 0 0 4px rgba(0,0,0,0.2)}.carousel-control{height:80px;margin-top:0;font-size:120px;text-shadow:0 1px 1px rgba(0,0,0,0.5);background-color:transparent;border:0;z-index:9}.btn{background-color:none;background-image:none;background:#5d6468;color:#fff;cursor:pointer;text-shadow:0 -1px 0 #2d3032;border:1px solid #51575a;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;-webkit-box-shadow:inset 0 0 0 rgba(0,0,0,0);-moz-box-shadow:inset 0 0 0 rgba(0,0,0,0);box-shadow:inset 0 0 0 rgba(0,0,0,0)}.btn:hover{color:#fff;background:#757d83;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;border-color:#5d6468}.btn.btn-primary{background:#2db2ea;text-shadow:0 -1px 0 #1076a1;border:1px solid #17a9e6}.btn.btn-primary:hover{background:#44baec;border:1px solid #2db2ea}footer{margin-top:30px;margin-bottom:0;padding-top:15px;color:#aaa;border-top:5px solid #212325;background:#2d3032}footer h1,footer h2,footer h3,footer h4,footer h5,footer h6{color:#fff;font-size:14px}footer a{color:#2db2ea;border-bottom:1px dotted #aaa}footer a:hover{color:#fff;text-decoration:none}footer .footer-bottom{width:auto;padding:20px;background:#212325}footer .footer-bottom p{margin:0}footer hr{border-top:0;border-bottom:1px solid #454a4d}.well{border-color:#ccc;background-color:#f5f6f6;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f5f6f6),color-stop(100% #e0e0e0));background-image:-webkit-linear-gradient(top,#f5f6f6 0,#e0e0e0 100%);background-image:-moz-linear-gradient(top,#f5f6f6 0,#e0e0e0 100%);background-image:-ms-linear-gradient(top,#f5f6f6 0,#e0e0e0 100%);background-image:-o-linear-gradient(top,#f5f6f6 0,#e0e0e0 100%);background-image:linear-gradient(top,#f5f6f6 0,#e0e0e0 100%);box-shadow:inset 0 0 0 rgba(0,0,0,0);box-shadow:0 2px 5px 1px rgba(0,0,0,0.1)}.well input{margin-bottom:5px}.ribbon-left:before{content:"";float:left;border:24px solid #212325}.ribbon-left:before{border-left-color:transparent}.ribbon-left h2{margin-right:5px;line-height:48px;color:#fff;background:#212325;overflow:hidden}.ribbon-right:before{content:"";float:right;border:24px solid #2db2ea}.ribbon-right:before{border-right-color:transparent}.ribbon-right h2{padding-left:10px;line-height:48px;color:#fff;background:#2db2ea;overflow:hidden}.tag-cloud{margin-left:0;padding:0;list-style:none}.tag-cloud li{display:inline-block;margin-bottom:15px;position:relative}.tag-cloud a{padding:4px 10px;border:0;background:#454a4d;color:#fff;text-decoration:none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box}.tag-cloud a:hover{background:#2db2ea}@media(min-width:979px) and (max-width:1200px){.tour-image{max-width:400px}}@media(max-width:979px){.navbar-wrapper{top:20px}.container.navbar-wrapper{margin-bottom:0;width:auto}.navbar-inner{border-radius:0;margin:-20px 0}.navbar-inverse .nav-collapse .nav>li>a,.navbar-inverse .nav-collapse .dropdown-menu a{color:#fff;font-weight:normal}.navbar-inverse .nav-collapse .nav>li>a:hover,.navbar-inverse .nav-collapse .dropdown-menu a:hover{background-color:#2db2ea;color:#fff}.carousel .item,.carousel img{height:450px}.tour-image{display:block;float:none;max-width:50%;margin:0 auto}}@media(max-width:767px){.navbar .navbar-inner{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box}.carousel{margin-left:-20px;margin-right:-20px}.carousel .item,.carousel img{height:330px}.carousel-caption{padding:0 70px;margin-top:100px;text-align:center}.carousel-caption h1{font-size:30px}.carousel-caption .lead,.carousel-caption .btn{font-size:18px}.teaser,.middle-bar,footer,.footer-bottom{margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px}}
.closedlist ul
{
	display: none;
}
.bs-docs-sidebar
{
	position: relative;
}
.bs-docs-sidenav { 
	background-color: #FFFFFF;
	border-radius: 6px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.063);
	margin: 30px 0px 0px;
	padding: 0px;
}

.bs-docs-sidenav > li:first-child > a { 
	border-radius: 6px 6px 0px 0px;
}
.bs-docs-sidenav > .active > a { 
	border: 0px none currentColor;
	box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.102), inset -1px 0px 0px rgba(0, 0, 0, 0.102);
	padding: 9px 15px;
	position: relative;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.149);
	z-index: 2;
}

.bs-docs-sidenav > li > a { 
	border: 1px solid #E5E5E5;
	background-color: #EEEEEE;
	display: block;
	margin: 0px 0px -1px;
	padding: 8px 14px;
}

.bs-docs-sidenav > li > ul > li > a{ 
	border: 1px solid #E5E5E5;
	display: block;
	margin: 0px 0px -1px;
	padding: 8px 14px 8px 25px;
	
}

.fixed-bar
{
	background: white; 
	width: 100%;
}

#tab1
{
	padding-top: 70px;
}
#contents
{
	padding-right: 15px;
	padding-bottom: 50px;
	height: 80%;
	position: fixed;
	overflow-y: scroll;
}
#contents.affix {
   top: 0;
}

section h1, #contents h1
{
	font-size: 23px;
}

#contents li > a
{
	font-size: 14px;
	word-break: break-all;
	word-wrap: break-word;
}

@media (min-width:900px) and (max-width: 1075px) {
	#contents li > a
	{
		font-size: 12px;
	}
}
@media (min-width:768px) and (max-width: 899px) {
	#contents li > a
	{
		font-size: 11px;
	}
}
@media (max-width: 767px) {
	#contents, #contents.affix {
		position: static;
		width: auto;
		top: 0;
		overflow: visible;
	}
}
section
{
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid grey;
}

.table th
{
	background-color: #EEEEEE;
}

.bs-docs-sidenav .icon-chevron-right { 
	float: right;
	margin-right: -6px;
	margin-top: 5px;
	opacity: 1;
}
	
@media (max-width: 480px) {
	#contents li > a
	{
		font-size: 11px;
	}
}
.middle-bar
{
	margin: 0;
}
.navbar .navbar-inner
{
	border: none;
	padding: 0;
	min-height: 0;
}
.middle-bar .brand
{
	margin-left: 20px;
	margin-top: -5px;
	line-height: 40px;
}
.list li
{
	margin-bottom: 10px;
}
.intext
{
	margin: 10px;
}
.container
{
	width: 100%;
}