QTBASEDIR=/c/Applications/Qt54
NDKBUILD=cmd /c C:\\android-ndk-r10d\\ndk-build.cmd
JAVA_HOME=C:/Program\ Files/Java/jdk1.7.0_21
ANT_HOME=C:\\Applications\\apache-ant-1.9.4
ANDROID_HOME=C:/Program\ Files/Android/android-sdk
FXC="/c/Program Files (x86)/Windows Kits/8.1/bin/x86/fxc.exe"
MSBUILD="/c/Program Files (x86)/MSBuild/14.0/bin/msbuild.exe"

QT_ARCH=mingw491_32
QT_TOOLSARCH=mingw491_32
QTVER=5.4
QT5ICUVER=53
