<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" IgnorableNamespaces="uap mp">
  <Identity Name="com.giderosmobile.player" Publisher="CN=Gideros Mobile" Version="2019.12.1.0" />
  <mp:PhoneIdentity PhoneProductId="8c0c5d57-e808-4cb1-a76b-f499b5b87e45" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.14393.0" MaxVersionTested="10.0.17763.0" />
  </Dependencies>
  <Properties>
    <DisplayName>Gideros Player</DisplayName>
    <PublisherDisplayName>Gideros Mobile</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Resources>
    <Resource Language="x-generate" />
    <Resource uap:Scale="180" />
    <Resource uap:DXFeatureLevel="dx11" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="giderosgame_Windows.App">
      <uap:VisualElements DisplayName="Gideros Player" Description="Gideros Player" BackgroundColor="#FEFEFE" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png">
        <uap:DefaultTile Square310x310Logo="Assets\LargeTile.png" Wide310x150Logo="Assets\WideTile.png" Square71x71Logo="Assets\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FFFFFF" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>